html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.contenedor-flex {
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}

/* Estilo para el cuadro */
.cuadro-amarillo {
    background-color: #FFE584; /* Color de fondo amarillo */
    border-radius: 5px; /* Bordes redondeados */
    width: 250; 
    height: 250;
}

/* Estilo para el texto dentro del cuadro */
.texto {
    color: black; /* Color del texto negro */
    text-align: center; /* Alineación centrada */
}