.fondo {
    background-color: #ecb54e;
    padding: 10px;
    border-radius: 5px;
}

.fondo2 {
    background-color: #f7f7f7
}

.centrar {
padding-left: 35%;
}

.custom-input {
    background-color: transparent !important;
    border-radius: 5px !important;
    border: 1px solid !important;
}
